@using YesilEvMVC.UI.Models.VMs
@model YesilEvMVC.UI.Models.Entity.Categories
@{
    ViewBag.Title = "deneme";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var data = (List<YesilEvMVC.UI.Models.Entity.Categories>)TempData["ornek"];
    var data2 = (List<YesilEvMVC.UI.Models.Entity.Categories>)ViewBag.ornek;
}

<h2>deneme</h2>

<div>
    <table>
        <tr>
           
        </tr>
    </table>
</div>

